<article class="publication">
  <div class="title">
    {% unless include.link-to == "url" %}
      {% if include.pub.link %}
        <a href="{{ include.pub.link }}">{{ include.pub.title | escape }}</a>
      {% elsif include.pub.url %}
        <a href="{{ include.pub.url | absolute_url }}" rel="permalink">{{ include.pub.title | escape }}</a>
      {% else %}
        {{ include.pub.title | escape }}
      {% endif %}
    {% else %}
      <a href="{{ include.pub.url | absolute_url }}" rel="permalink">{{ include.pub.title | escape }}</a>
    {% endunless %}
  </div>
  <div class="authors">
    {% for author in include.pub.authors %}
      {% if author.flags.size > 0 %}<span class="{% for flag in author.flags %}{{ flag }}{% endfor %}">{% endif %}
      {{ author.name }}{% if forloop.last == false %},{% endif %}
      {% if author.flags.size > 0 %}</span>{% endif %}
    {% endfor %}
  </div>
  <div class="links">
    {% if include.pub.venue %}
    <span class="venue {% unless include.pub.preprint %}peer-reviewed{% else %}preprint{% endunless %}">{{ include.pub.venue }}</span>
    {% endif %}
    {% if include.pub.pdf %}
    <a href="{{ include.pub.pdf }}" target="_blank">PDF</a>
    {% endif %}
    {% if include.pub.code %}
    <a href="{{ include.pub.code }}" target="_blank">Code</a>
    {% endif %}
    {% if include.pub.data %}
    <a href="{{ include.pub.data }}" target="_blank">Data</a>
    {% endif %}
    {% if include.pub.artifact %}
    <a href="{{ include.pub.artifact }}" target="_blank">Artifact</a>
    {% endif %}
  </div>
</article>
